* {
    color: #3d3b3b;
    font-family: 'Garamond', sans-serif;
}

footer {
    margin-top: 60px;
    font-size: 10px;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    overflow: hidden;
    
}
.navbar a {
    float: left;
    color: #ebebeb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #7d7d7d;
    color: rgba(59, 55, 55, 0.771);
    transition: all 2s ease;
}

/* banner */
.banner {
    width: 50vh;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 5px;
    font-family: 'Century Schoolbook', serif;
}

/* cards */
.card {
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-family: 'Century Schoolbook', serif;
  
}
img, .card {
    width: 250px;
    height: 250px;
    transition: 0.8s;
}
.card img:hover, .card:hover {
    width: 300px;
    height: 300px;
    /* border-radius: 50%; */
}

/* comments */
.comment {
    padding: 10px;
    border: 1px solid #efebeb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    opacity: 0;
    animation: fade-in 1s forwards;
}

/* grids and boxings */
.grid_n2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 20px;
}
.grid_n3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    transition: 5s;
}

.margin-top-bottom {
    margin-top: 30px;
    margin-bottom: 30px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}
/* animations */

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}