* {
    color: #3d3b3b;
    font-family: 'Garamond', sans-serif;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    overflow: hidden;

}

.navbar a {
    float: left;
    color: #ebebeb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #7d7d7d;
    color: rgba(59, 55, 55, 0.771);
}

/* banner */
.banner {
    width: 50vh;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 5px;
    font-family: 'Century Schoolbook', serif;
}

/* cards */
.card {
    width: 300px;
    height: 135px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-family: 'Century Schoolbook', serif;
    transition: opacity 2s ease;
}
.card-details {
    padding: 10px;
    font-size: 12px;
}


/* grids and boxings */
.grid_n2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, );
    grid-gap: 20px;
}

.grid_n3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.margin-top-bottom {
    margin-top: 30px;
    margin-bottom: 30px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.opacity-off {
    opacity: 0;
}


button{
    font-size: 17px;
    border-radius: 10px;
    background-color: #3d3b3b;
    color: #ddd;
    padding:3px;
    margin: 20px;
    width: 75px;
    /* border: none; */
}
/* animation */

