* {
    color: #3d3b3b;
    font-family: 'Garamond', sans-serif;
}
footer {
    margin-top: 60px;
    font-size: 10px;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    overflow: hidden;
    
}
.navbar a {
    float: left;
    color: #ebebeb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #7d7d7d;
    color: rgba(59, 55, 55, 0.771);
    transition: all 2s ease;
}

/* banner */
.banner {
    width: 50vh;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 5px;
    font-family: 'Century Schoolbook', serif;
}

/* comments */
.comment {
    font-size: small;
    padding: 10px;
    border: 1px solid #efebeb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    opacity: 0;
    animation: fade-in 1s forwards;
}
input {
    border: 1px solid #efebeb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 300px;
    height:50px;
}
/* grids and boxings */
.grid_n3 {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 300px));
    grid-gap: 1px;
    transition: 5s;
}

.margin-top-bottom {
    margin-top: 5px;
    margin-bottom: 30px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}
/* animations */
.hideme { 
    animation: hide-me 2s forwards;
}
@keyframes hide-me {
    from {
        visibility: visible;
        opacity: 100%;
    }
    to {
        visibility: hidden;
        opacity: 0
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

button {
    font-size: 17px;
    border-radius: 10px;
    background-color: #3d3b3b;
    color: #ddd;
    padding: 3px;
    margin: 20px;
    width: 75px;
    /* border: none; */
}